.content {
  .information {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    .overlay {
      width: 0;
      height: 0;
      border-top: 400px solid #fff;
      border-bottom: 500px solid #fff;
      border-left: 430px solid #fff;
      border-right: 500px solid transparent;
      position: absolute;
      top: 0;
      left: 0;
    }
    .mobile {
      width: 150px;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translateY(-50%);
      z-index: 1;
    }
    .circle {
      width: 850px;
      height: 850px;
      position: absolute;
      top: 0%;
      left: 0%;
      transform: rotate(0deg);
      transition: 1s;

      border-radius: 50%;
      .feature {
        position: absolute;
        display: flex;
        color: #fff;
        div {
          margin-left: 30px;
          p {
            margin-top: 8px;
          }
        }
        &-one {
          top: 360px;
          right: 50px;
        }
        &-two {
          top: 150px;
          left: 275px;
          transform: rotate(-90deg);
        }
        &-three {
          top: 415px;
          left: 50px;
          transform: rotate(-180deg);
        }
        &-four {
          bottom: 150px;
          left: 327px;
          transform: rotate(-270deg);
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .controls {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: center;
    h3 {
      margin: 15px 0;
      color: #fff;
    }
    .upBtn {
      width: 15px;
      cursor: pointer;
    }
    .downBtn {
      width: 15px;
      cursor: pointer;
      transform: rotate(180deg);
    }
  }
}
